
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%22");


*{
  font-family: 'Poppins', sans-serif;
  margin : 0;
  padding: 0;
}


header{
  display: flex;
  background-color: orange;
  padding: 25px; 
}
header > .logo{
  width: 20%;
  text-align: center;
  margin: auto;
}

header > h1{
  width: 60%;
  font-size: 40px;
  text-align: center;
  margin: auto; 
}

header > .navbar {
  width: 20%;
  margin: auto;
  text-align:center;
  word-spacing: 30px;
}

.navbar li{
  display: inline-block;
  list-style-type: none;
  font-size: 25px;
}



.navbar a{
  text-decoration: none;
  color: black;
}


.navbar a:hover{
  color: orangered;
}

h2{
  text-align: left;
  margin-top: 50px ;
  font-size: 30px;
  margin-left: 20%;
}

form{
  display: flex;
  flex-wrap: wrap;
  align-items:end;
  gap: 10px;
  position: absolute;
  right: 20%;
  left: 20%;
  background: orange;
  padding: 20px;
  border-radius: 0.5rem;
}
.box{
  flex: 1 1 7rem;
  display: flex;
  flex-direction:column;
}

.box label {
  font-weight: 600;
  font-size: 20px;
}

.box input{
  margin-left: 1%;
  padding: 7px;
  outline: none;
  border: none;
  background: white;
  border-radius: 0.5rem;
  font-size: 20px;
}

form .btn {
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 20px;


}

form .btn:hover{
  background: orangered;
}
