@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin : 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

body > header .navbar {
  display: flex;
  align-items: center;
}

body > header .navbar img {
  float: right;
  width: 60px; 
  height: 60px; 
  padding-left: 10px; 
  border-radius: 50%;
  object-fit: cover;
}

.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../imagens/car_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin:20px;
  padding: 20px;
  border-radius: 0.5rem;
}
form input{
  text-align: center;
}
form *{
  margin:5px;
  border-radius: 0.5rem;
  border: none;
}
form>div>label {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.background_div {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp_in{
  font-size: 25px;
  text-transform: uppercase;
  width: 50px;
  font-weight: bold;
}
.join_inputs{
  display: flex;
  flex-direction: row;
}
.v_label{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.vl_label label {
  font-weight: bold;
}
.v_label input {
  padding: 7px;
  outline: none;
  border: none;
  background: white;
  border-radius: 0.5rem;
}
#car_name{
  display: flex;
  flex-direction: row;
}

#specs{
  font-size: 15px;
  display: flex;
  max-width: 50%;
  flex-direction: column;
  align-items: center;
}
.num{
  width: 40px;
}
form .add_item{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
form .add_item input{
  margin-right: 20px;
  clip-path: circle(37% at 47% 47%);
}
form .add_images {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .add_images button {
  padding: 5px;
}
#services{
  width: 40%;
}
form .add_list{
  min-height: 20px;
  max-height: 20px;
  width: max-content;
  overflow: scroll;
  overflow-x:hidden;
  width:100%;
  background-color: white;
  border-color: rgb(0, 0, 0);
  min-height: 100px;
}
.add_list li{
  text-align: center;

  
}
#imageLink{
  width: 80%;
}
#n_gears{
  width:30px;
}
#_add{

  width: 100%;
}
#gearbox{
  display: flex;
  flex-direction: row;
}
#eq_ex {
  display: grid;
}