@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


*{
  font-family: 'Poppins', sans-serif;
  margin : 0;
  padding: 0;
  
  
}

body{
  display: none;
}
#mainsec{ 
  width: 100%;
  height: 800px;
  background: url("../imagens/car_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

h2{
  text-align: center;
  padding: 10px ;
  font-size: 70px;
  color: white;
}


h3{
  text-align: left;
  margin-top: 0px ;
  font-size: 30px;
  margin-left: 20%;
  color: white;
}

#form{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 10px;
  position: absolute;
  right: 20%;
  left: 20%;
  background: orange;
  padding: 20px;
  border-radius: 0.5rem;
}

.box{
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
  
}

.box label {
  font-weight: 600;
  font-size: 20px;
}

.box input{
  padding: 7px;
  outline: none;
  border: none;
  background: white;
  border-radius: 0.5rem;
  font-size: 20px;
  
}

#form .btn {
  
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 20px;
  
  
}

#form .btn:hover{
  background: #ba5c12;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: orange;
  display: flex;
  padding: 10px;
  font-size: 20px;
}

footer > .priv{
  width: 30%;
  text-align: center;
  margin: auto;
}

.priv li{
  display: inline-block;
  line-height: 80%; 
}

.priv a{
  text-decoration: none;
  color: black;
}

.priv span{
  padding-left: 20px;
}

.priv a:hover{
  color: #ba5c12;
}

footer > .rights{
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 15px;
}

footer > .pagamento{
  width: 30%;
  text-align: center;
  margin: auto;
  word-spacing: 20px;
  
}
