@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin : 0px;
  padding: 0px;
}
 


body{ 
    width: 100%;
    background: url("../imagens/car_background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
  }

main h2 {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: white;
    
}

main h4{
    font-size: 25px;
    text-align: left;
    margin-left: 10px;

}

.box{
    
    gap: 10px;
    background: orange;
    padding: 20px;
    border-radius: 0.5rem;
    width: 50%;
  }

.colunas{
    display: grid;
    grid-template-columns: 50% 50% ;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    
}

.btn {
  
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
 }
  
.btn:hover{
    background: #ba5c12;
}

section h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section li {
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    text-align: left;
}
