@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin : 0px;
  padding: 0px;
  
}

body {
  display: none;
}




main{
  padding: 50px 100px; 
  width: 100%;
  height: 900px;
  background: url("../imagens/car_background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .page-center {
  display: flex;
  margin: auto;
  flex: 1;
  padding-top: 2.5%;
  width: 100%;
  height: fit-content;
  
}
#remove_link{
  visibility: hidden;
}
main .page-center .main-list {
  display: flex;
  flex-direction:column;
  padding-left: 0;
  width: 10%;
  padding-top: 2.5%;
  font-size: 20px;
  font-weight: normal;
  list-style: none;
  color: white;
}
main .page-center .img-separator img {
  flex: 2;
  width: 4px;
  height: 250%;
  padding: 0px 45px;
  opacity: 100%;
  border-radius: 70%;
}
main .page-center .main-list a {
  text-decoration: none;
  color: inherit;
}

#services-container{
  width: 75%;
  height: 50px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
  
} 

#services-container .services-header{
  background-color: white;
} 

#services-container .item:hover{
  cursor:pointer;
  background-color: gray;
  
  
}
#services-container .item .toggleable{
  visibility: hidden;
}
#services-container > * th {
  border-bottom-style: outset;
  font-size: 25px;

}
#services-container tr:nth-child(odd) {
  background-color: white;

}
#services-container tr:nth-child(even) {
  border-bottom-style: outset;
  font-size: 25px;
  background-color: lightgray;

}


#services-container > * td h3 {
  font-size: 20px;
  font-weight: normal;
}

#services-container > * td img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px; 
    height: 30px;
}
span{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.available { 
  background-color: #15ff00;
}
.available:hover { 
  
}
.rented { 
  background-color: #fffb00;
}
.rented:hover { 

}
.workshop {
  background-color: #ff0000;
}
.workshop:hover {

}
.unavailable {
  background-color: #e100ff;
}
.unavailable:hover {

}
.subtitle{
  padding-top: 10px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

/*https://getcssscan.com/css-buttons-examples*/
#Confirm_delete {
  visibility: hidden;
  background-color: #912424;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#Confirm_delete:hover,
#Confirm_delete:focus {
  background-color: #ff0000;
}
body {
  overflow: hidden; /* Hide scrollbars */
}


