@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin : 0px;
  padding: 0px;
  
}

body {
  display: none;
}

body > header .navbar {
  display: flex;
  align-items: center;
}

body > header .navbar img {
  float: right;
  width: 60px; 
  height: 60px; 
  padding-left: 10px; 
  border-radius: 50%;
  object-fit: cover;
}

main {
  padding: 50px 100px;
}

main .page-center {
  display: flex;
  margin: auto;
  flex: 1;
  padding-top: 2.5%;
  width: 100%;
  height: fit-content;
}
#remove_link{
  visibility: hidden;
}
main .page-center .main-list {
  display: flex;
  flex-direction:column;
  padding-left: 0;
  width: 15%;
  padding-top: 2.5%;
  font-size: 20px;
  font-weight: normal;
  list-style: none;
}
main .page-center .img-separator img {
  flex: 2;
  width: 3px;
  height: 120%;
  padding: 0px 45px;
  opacity: 15%;
  border-radius: 70%;
}
main .page-center .main-list a {
  text-decoration: none;
}

#services-container{
  width: 85%;
  height: 50px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
  
} 
#services-container .item:hover{
  cursor:pointer;
  background-color: rgb(187, 187, 187);
  
  
}
#services-container .item .toggleable{
  visibility: hidden;
}
#services-container > * th {
  border-bottom-style: outset;
  font-size: 25px;

}

#services-container > * td h3 {
  font-size: 20px;
  font-weight: normal;
}

#services-container > * td img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px; 
    height: 30px;
}
span{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.available { 
  background-color: #15ff00;
}
.rented { 
  background-color: #fffb00;
}

.workshop {
  background-color: #ff0000;
}
.unavailable {
  background-color: #e100ff;
}
.subtitle{
  padding-top: 10px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

/*https://getcssscan.com/css-buttons-examples*/
#Confirm_delete {
  visibility: hidden;
  background-color: #912424;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#Confirm_delete:hover,
#Confirm_delete:focus {
  background-color: #ff0000;
}