@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin : 0px;
  padding: 0px;
  
}

body {
  display: block;
}

body > header .navbar {
  display: flex;
  align-items: center;
}

body > header .navbar img {
  float: right;
  width: 60px; 
  height: 60px; 
  padding-left: 10px; 
  border-radius: 50%;
}

main {
  padding: 50px 100px;
}

main .page-center {
  display: flex;
  margin: auto;
  flex: 1;
  padding-top: 2.5%;
  width: fit-content;
  height: fit-content;
}

main .page-center .main-list {
  flex: row;
  padding-top: 2.5%;
  font-size: 20px;
  font-weight: normal;
  list-style: none;
}

main .page-center .main-list a {
  text-decoration: none;
}

main .page-center .img-separator img {
  flex: 2;
  width: 3px;
  height: 120%;
  padding: 0px 45px;
  opacity: 15%;
  border-radius: 70%;
}

main .page-center .services-container {
  flex: 3;
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  gap: 1rem;
  margin-top: 2rem;
}

main .page-center .services-container > * div {
  display: flex;
  padding-top: 20px;
  padding-right: 10px;
}

main .page-center .services-container > * div img {
  width: 60px; 
  height: 60px; 
  padding-right: 10px; 
  border-radius: 50%;
}

main .page-center .services-container > * div h3 {
  font-size: 20px;
  font-weight: normal;
}

main .page-center .services-container > * div h4 {
  font-size: 20px;
  font-weight: normal;
  padding: 0px 20px;
}

.services-container a{
  text-decoration: none;
  color: orange;
}

.services-container .box{
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0,0,0,0.1)

}

.services-container .box .box-img{
  width: 100%;
  height: 200px;
}


.services-container .box .box-img img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center ;
}



