@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%22");


*{
  font-family: 'Poppins', sans-serif;
  margin : 0;
  padding: 0;
}


header{
  display: flex;
  background-color: orange;
  padding: 15px; 
}
header > .logo{
  width: 20%;
  text-align: center;
  margin: auto;
}

header > h1{
  width: 60%;
  font-size: 40px;
  text-align: center;
  margin: auto; 
}

header > .navbar {
  width: 20%;
  margin: auto;
  text-align:center;
  word-spacing: 20px;
}

.navbar li{
  display: inline-block;
  list-style-type: none;
  font-size: 25px;
}



.navbar a{
  text-decoration: none;
  color: black;
}


.navbar a:hover{
  color: #ba5c12;
}


