@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%22");


*{
  font-family: 'Poppins', sans-serif;
  margin : 0;
  padding: 0;
}

body{ 
  width: 100%;
  background: url("../imagens/car_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: top;
}



form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 40%;
  left: 40%;
  margin-top: 5%;
  background: orange;
  padding: 20px;
  border-radius: 0.5rem;
}

.box{
  display: flex;
  flex-direction: column;
  
}

.box1{
  display: flex;
  gap: 10px;
 
}

.box label {
  font-weight: 600;
  font-size: 20px;
}

.box input{
 
  padding: 7px;
  outline: none;
  border: none;
  background: white;
  border-radius: 0.5rem;
  font-size: 20px;
  
  
}


form .btn {
  
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 20px;
   
}

form .btn:hover{
  background: #ba5c12;
}

form a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

form a:hover{
  color: #ba5c12;
  
}
body {
  overflow: hidden; /* Hide scrollbars */
}